In [1]:
import numpy as np
from scipy import stats
from scipy.fft import fft
import matplotlib.pyplot as plt
import pandas as pd

from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [2]:
excelFile = pd.read_excel("DSP-Data-1.xlsx")
copy = excelFile.copy()

excelFile

                     Date  Humidity (%)  Temperature (°C)
0     10/17/2023_20:26:35          66.1              32.6
1     10/17/2023_20:41:37          66.0              32.6
2     10/17/2023_20:56:40          61.1              34.8
3     10/17/2023_21:11:43          59.5              35.2
4     10/17/2023_21:26:46          61.5              33.7
...                   ...           ...               ...
1243  10/31/2023_23:20:31          48.7              33.1
1244  10/31/2023_23:35:34          47.3              34.8
1245  10/31/2023_23:50:37          46.8              34.9
1246  11/01/2023_00:05:40          47.2              35.0
1247  11/01/2023_00:20:42          47.2              34.8

[1248 rows x 3 columns]